@namespace h "http://www.w3.org/1999/xhtml";
#primary_footer {
    background-color: #ab9c8f;
    background-position: 194px -32px;
    background-repeat: no-repeat
    }
#primary_footer #site_logo {
    float: left;
    padding-left: 20px;
    margin-top: 20px;
    width: auto
    }
#primary_footer #site_logo h|strong {
    background-image: url(/resource/image/text/headings/footer_ouptext.gif);
    background-repeat: no-repeat;
    display: block;
    height: 55px;
    margin-bottom: 6px;
    width: 219px
    }
#primary_footer #site_logo h|em {
    background-repeat: no-repeat;
    display: block;
    height: 6px;
    width: 177px
    }
#primary_footer #third_nav h|ul {
    text-align: right;
    margin-top: 26px;
    margin-right: 20px;
    width: auto
    }
#primary_footer #third_nav h|ul h|li {
    display: inline;
    margin-left: 10px
    }
#primary_footer #third_nav h|ul h|li h|a {
    color: #fff
    }
#primary_footer #other_oup_sites {
    clear: both;
    background-image: url(/resource/image/trim/border_dotted_white_horiz.gif);
    background-repeat: repeat-x;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%
    }
#primary_footer #other_oup_sites h|form {
    clear: both;
    float: right;
    padding: 14px 20px 0 20px;
    width: auto
    }
#primary_footer #other_oup_sites h|form h|label {
    display: block;
    color: #fff;
    margin-bottom: 2px
    }
#secondary_footer {
    background-image: url(/resource/image/trim/border_dotted_grey_horiz.gif);
    background-repeat: repeat-x;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    display: block;
    clear: both
    }
#secondary_footer #copyright {
    margin-right: 15px;
    width: auto
    }
#secondary_footer #issn {
    margin-right: 15px;
    width: auto
    }
#disclaimer {
    font-size: 70%;
    margin: 0 15px 15px 15px;
    font-family: verdana, sans-serif;
    color: grey;
    clear: both
    }
