@import url(hw-publisher-sidebars.css);
@namespace h "http://www.w3.org/1999/xhtml";
h|body, h|div, h|ul, h|li, h|dl, h|p, h|h1, h|h2, h|h3, h|h4, h|h5, h|h6, h|img, h|form, h|fieldset, h|legend, h|label, h|blockquote, h|acronym, h|abbr {
    border: 0;
    padding: 0;
    margin: 0
    }
h|body, h|input, h|select {
    font-family: verdana, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Arial, Helvetica, sans-serif
    }
h|input, h|select {
    font-size: 1em
    }
h|ul {
    list-style: none
    }
h|acronym {
    font-style: normal
    }
#content-block {
    width: 516px;
    padding: 0 15px 12px 15px
    }
h|div.hw-gen-page {
    text-align: left;
    margin: auto;
    width: 960px;
    background-color: #FFF;
    overflow: auto;
    padding: 0
    }
h|a:link {
    color: #00c
    }
h|a:visited {
    color: #808040
    }
.inline_button {
    position: relative;
    top: 5px
    }
.hw-gen-page .section h|h2 {
    color: #49382a;
    font-weight: lighter;
    font-size: 120%;
    padding: 5px 8px 0 8px
    }
.hw-gen-page #content-block .block {
    display: block;
    margin: 0 0 10px 0
    }
.hw-gen-page #content-block .clear {
    display: block;
    clear: both
    }
.hw-gen-page .inline {
    display: inline
    }
.hw-gen-page .indent_1 {
    margin-left: 2em
    }
.hw-gen-page .indent_2 {
    margin-left: 4em
    }
.hw-gen-page .indent_3 {
    margin-left: 6em
    }
#content-block h|h2.tight {
    margin-bottom: 2px
    }
#content-block h|h2.unemphasised {
    background-color: transparent;
    background-position: 0 10px;
    margin-bottom: 10px
    }
#content-block h|h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 12px
    }
#content-block h|h3.unemphasised {
    color: #816d5b
    }
#content-block h|h3.emphasised {
    background-image: url(/publisher/img/trim/border_dotted_grey_horiz.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    margin-right: 10px;
    padding-bottom: 8px
    }
#content-block h|h4 {
    color: #816d5b;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
    display: block
    }
#content-block .contact h|h4 {
    margin-bottom: 2px
    }
#content-block h|h4.unemphasised {
    font-weight: normal
    }
#content-block h|p {
    margin: 0 0 10px 0
    }
#content-block .separator_after {
    border-bottom: 1px solid #ffbf00;
    padding-bottom: 10px
    }
#content-block h|ul.disc {
    list-style-type: disc
    }
#content-block h|ul.square {
    list-style-type: square
    }
#content-block h|ul.circle {
    list-style-type: circle
    }
#content-block h|ol.decimal {
    list-style-type: decimal
    }
#content-block h|ol.lroman {
    list-style-type: lower-roman
    }
#content-block h|ol.uroman {
    list-style-type: upper-roman
    }
#content-block h|ol.lalpha {
    list-style-type: lower-alpha
    }
#content-block h|ol.ualpha {
    list-style-type: upper-alpha
    }
#content-block h|ol h|li.note {
    list-style-type: decimal
    }
#content-block .hw-gen-page_list {
    margin-bottom: 12px
    }
h|fieldset {
    float: left;
    width: auto
    }
h|legend {
    position: relative
    }
.advanced_article_search #header {
    background-image: url(/publisher/img/header_2.jpg)
    }
#content-block h|form#journal_search {
    background-color: #e5dfd1;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px
    }
#content-block h|form#journal_search h|label#label_in_subject {
    margin: 0 4px
    }
#content-block h|form#journal_search h|input#search_journals {
    width: 205px
    }
#content-block h|form#journal_search h|ul.emphasised h|li {
    margin: 0
    }
#content-block h|form#browse_by_subject {
    background-color: #e5dfd1;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px
    }
#content-block h|form#browse_by_subject h|select#browse_by_subject {
    width: 180px
    }
#content-block h|form#browse_by_subject h|ul.emphasised h|li {
    margin: 0
    }
h|h2#find_results_for {
    background-image: url(/publisher/img/text/headings/on_yellow/find_results_for.gif);
    margin-bottom: 2px
    }
.article_search_results #header {
    background-image: url(/publisher/img/header_7.jpg)
    }
.article_search_results .field_wrap {
    background-color: #e5dfd1
    }
.article_search_results #main_content h|strong.keyword {
    color: #d84519;
    font-weight: bold
    }
.article_search_results #main_content #searched_for {
    background-image: url(/publisher/img/trim/border_dotted_grey_horiz.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    padding-top: 8px;
    float: left;
    width: 100%
    }
.article_search_results #main_content #searched_for h|h3 {
    margin: 0 0 0 15px
    }
.article_search_results #main_content #searched_for h|ul h|li {
    margin: 6px 0 8px 15px
    }
.article_search_results #main_content #searched_for h|ul h|li h|a#search_again {
    background-image: url(/publisher/img/buttons/search_again.gif);
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 99px
    }
.article_search_results h|form#article_search {
    float: left;
    width: auto;
    margin-bottom: 20px
    }
.article_search_results h|form#article_search h|fieldset#results_format {
    width: 730px
    }
.article_search_results #main_content h|form#article_search h|input#refresh_results {
    margin: 10px 15px
    }
.article_search_results #main_content h|form#article_search {
    background-color: #faf7f2;
    background-image: url(/publisher/img/trim/border_dotted_grey_horiz.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    float: left;
    width: auto
    }
.article_search_results h|form#article_search h|fieldset#results_format h|legend {
    float: left;
    margin: 4px 0 6px 15px;
    width: auto
    }
.article_search_results h|form#article_search h|fieldset#results_format .radio_wrap_first h|input, .article_search_results h|form#article_search h|fieldset#results_format .radio_wrap_second h|input, .article_search_results h|form#article_search h|fieldset#results_format .radio_wrap_third h|input, .article_search_results h|form#article_search h|fieldset#results_format .radio_wrap_fourth h|input {
    margin-left: 15px
    }
.article_search_results #main_content #article_results {
    float: left;
    width: auto
    }
.article_search_results #main_content #results_count {
    background: #ffd200;
    float: left;
    width: 730px
    }
.article_search_results #main_content #results_count h|h3.text {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 4px 15px;
    margin: 0
    }
.article_search_results #main_content #article_results #checked_items_below_outer_wrap, .article_search_results #main_content #article_results #checked_items_above_outer_wrap {
    background-color: #e5dfd1;
    background-repeat: no-repeat;
    float: left;
    padding: 6px 0 4px 0;
    width: 730px
    }
.article_search_results #main_content #article_results #checked_items_below_outer_wrap {
    background-image: url(/publisher/img/checkbox_arrow_down.gif);
    background-position: 10px 6px
    }
.article_search_results #main_content #article_results #checked_items_above_outer_wrap {
    background-image: url(/publisher/img/checkbox_arrow_up.gif);
    background-position: 10px 3px;
    margin-top: 20px
    }
.article_search_results #main_content #article_results h|fieldset#checked_items_below #checked_items_below_wrap, .article_search_results #main_content #article_results h|fieldset#checked_items_above #checked_items_above_wrap {
    float: left;
    position: relative;
    left: 16em;
    margin-bottom: -1.6em;
    margin-right: -16em;
    top: -1.6em;
    width: 480px
    }
.article_search_results #main_content #article_results h|fieldset#checked_items_below, .article_search_results #main_content #article_results h|fieldset#checked_items_above {
    padding-left: 35px
    }
.article_search_results #main_content #article_results h|fieldset#checked_items_below .separator_before, .article_search_results #main_content #article_results h|fieldset#checked_items_above .separator_before {
    background-image: url(/publisher/img/trim/border_dotted_grey_vert.gif);
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    width: auto
    }
.article_search_results #main_content #article_results h|fieldset#checked_items_below #go_first, .article_search_results #main_content #article_results h|fieldset#checked_items_above #go_second {
    top: 1px;
    padding-left: 10px
    }
.article_search_results #main_content #results_pages {
    float: left;
    text-align: center;
    margin: 20px 0;
    width: 100%
    }
.article_search_results #main_content #results_pages h|ul {
    margin: auto;
    width: 46em
    }
.article_search_results #main_content #results_pages h|ul h|li {
    float: left;
    margin: 0 1em;
    width: auto
    }
.article_search_results #main_content #results_pages h|ul h|li h|a#previous {
    background-image: url(/publisher/img/buttons/previous.gif);
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 81px
    }
.article_search_results #main_content #results_pages h|ul h|li h|a#next {
    background-image: url(/publisher/img/buttons/next.gif);
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    width: 52px
    }
.article_search_results #main_content #results_pages h|ul h|li h|strong {
    display: block;
    float: left;
    margin-left: 1em;
    width: auto
    }
.article_search_results #main_content #results_pages h|ul h|li h|ul {
    float: left;
    margin: 0 1em;
    width: 15em
    }
.article_search_results #main_content #results_pages h|ul h|li h|ul h|li {
    display: inline;
    float: left;
    margin: 0 0 0 1em;
    width: 1em
    }
.article_search_results #main_content #results_pages h|ul h|li h|ul h|li {
    font-weight: bold
    }
.article_search_results #main_content .result {
    background-image: url(/publisher/img/trim/border_dotted_grey_horiz.gif);
    background-position: top;
    background-repeat: repeat-x;
    float: left;
    margin-top: 15px;
    padding-top: 15px;
    width: 100%
    }
.article_search_results #main_content .result .result_wrap {
    background-image: url(/publisher/img/plain_grey_29.gif);
    background-repeat: repeat-y;
    float: left;
    width: 730px
    }
.article_search_results #main_content .result .checkbox {
    display: inline;
    float: left;
    width: 30px;
    margin: 4px 6px 4px 4px
    }
.article_search_results #main_content .result .details {
    float: left;
    width: 690px
    }
.article_search_results #main_content .result .details .row {
    float: left;
    margin: 4px 0;
    width: 690px
    }
.article_search_results #main_content .result .details .field {
    float: left;
    margin-right: 10px;
    width: 90px
    }
.article_search_results #main_content .result .details .data {
    float: left;
    margin-right: 10px;
    width: 570px
    }
.article_search_results #main_content .result .details h|ul.links {
    float: left;
    padding-left: 100px;
    width: auto
    }
.article_search_results #main_content .result .details h|ul.links h|li {
    float: left;
    margin-right: 15px;
    width: auto
    }
.article_search_results #main_content .result .details .hw-gen-page {
    color: #816d5b;
    font-weight: bold;
    font-size: 0.8em
    }
.article_search_results #main_content .result .details .article_title {
    font-weight: bold
    }
.article_search_results #main_content .result .details .author {
    color: #816d5b;
    font-size: 0.8em
    }
.article_search_results #main_content .result .details .extract {
    font-size: 0.8em
    }
.article_search_results #main_content .result h|em {
    border-color: #0296bf
    }
.my_account #header {
    background-image: url(/publisher/img/header_6.jpg)
    }
.my_account #content-block #logged_in_area {
    background: #ffd200;
    margin-bottom: 20px;
    padding-bottom: 6px
    }
.my_account #content-block #logged_in_area h|h2 {
    border-bottom: 2px #fff solid;
    padding-bottom: 3px
    }
.my_account #content-block #logged_in_area h|h3 {
    padding-bottom: 4px
    }
.my_account #content-block #logged_in_area h|ul, .my_account #content-block #logged_in_area h|h3 {
    margin: 0 10px
    }
.my_account #content-block #logged_in_area h|ul h|li {
    background-position: 0 8px;
    border-top: 1px #ffed99 solid;
    padding-top: 4px;
    margin-bottom: 5px;
    margin-left: 0
    }
.my_account #content-block .section h|h2#welcome {
    background-color: #e5dfd1
    }
#content-block h|h2#about_oxford_journals {
    background-image: url(/publisher/img/text/headings/on_yellow/about_oxford_journals.gif)
    }
#second .features h|h2#services {
    background-image: url(/publisher/img/text/headings/on_grey/services.gif)
    }
#main_content h|h2#my_account {
    background-image: url(/publisher/img/text/headings/on_grey/my_account.gif)
    }
#main_content h|h2#events {
    background-image: url(/publisher/img/text/headings/on_grey/events.gif)
    }
#main_content h|h2#for_librarians {
    background-image: url(/publisher/img/text/headings/on_grey/for_librarians.gif)
    }
.article_search_results #header h|h1#page_title {
    background-image: url(/publisher/img/text/titles/article_search_results.gif);
    width: 286px
    }
.article_search_results #main_content h|h2#you_searched_for {
    background-image: url(/publisher/img/text/headings/on_yellow/you_searched_for.gif)
    }
.my_account #header h|h1#page_title {
    background-image: url(/publisher/img/text/titles/my_account.gif);
    width: 131px
    }
.my_account #main_content h|h2#logged_in {
    background-image: url(/publisher/img/text/headings/on_yellow/logged_in.gif)
    }
.my_account #main_content h|h2#welcome {
    background-image: url(/publisher/img/text/headings/on_white/welcome.gif)
    }
#main_content h|form#journal_search h|label#label_search_journals {
    background-image: url(/publisher/img/text/headings/on_grey/search_journals.gif);
    background-repeat: no-repeat;
    display: block;
    height: 9px;
    margin: 4px 0;
    width: 148px
    }
h|div.cb-section h|li .creative-commons-article h|span {
    display: block;
    height: 0.1em;
    overflow: hidden;
    width: 0
    }
h|img.small_margin {
    margin: 3px
    }
h|img.medium_margin {
    margin: 5px
    }
h|img.large_margin {
    margin: 10px
    }
.hw-gen-page #alpha {
    margin-right: 16px
    }
.hw-gen-page #second {
    float: none
    }
.hw-gen-page #second .contact {
    width: auto
    }
.hw-gen-page #alpha, .hw-gen-page #beta {
    float: left;
    width: 250px
    }
.general_page #content {
    margin: 0 15px
    }
.general_page #content-block h|p {
    width: 99%
    }
.general_page #content-block h|ul.none, .general_page #content-block h|ul.disc, .general_page #content-block h|ul.square, .general_page #content-block h|ul.circle {
    margin: 0
    }
.general_page #content-block h|ol.none, .general_page #content-block h|ol.decimal, .general_page #content-block h|ol.lroman, .general_page #content-block h|ol.uroman, .general_page #content-block h|ol.lalpha, .general_page #content-block h|ol.ualpha {
    margin: 15px
    }
h|div#inst_logo {
    text-align: center
    }
#content-block h|ul.cit-list h|li {
    margin-left: 0
    }
#content-block h|ol.cit-auth-list h|li {
    margin-left: 0
    }
h|div#content-block .cit-metadata h|h4 {
    padding-left: 3em;
    display: block;
    color: #222
    }
h|div#content-block .cit-metadata h|h4.cit-first-element {
    padding-left: 0.5em;
    display: block;
    color: #222
    }
#content-block h|a h|span.soc-bm-link-text {
    display: inline;
    height: auto
    }
#content-block #cited-by h|h2 {
    background-color: #ffd200
    }
#content-block h|p.no-pap-articles {
    margin-top: 8px
    }
#content-block .emailafriend-result h|h2 {
    font-size: 100%
    }
.math-toc h|li.results-cit {
    border: none
    }
.math-toc .cit h|ul.cit-auth-list, #pageid-search-results .cit h|ul.cit-auth-list {
    padding-left: 3em
    }
.cit.is-early-release .cit-metadata .cit-title {
    padding-left: 2.1em
    }
.cit.is-early-release h|ul.cit-auth-list {
    padding-left: 2.2em
    }
#pageid-pap-index h|span.cit-doi, #pageid-pap-bysection h|span.cit-doi, #pageid-pap-bycustom h|span.cit-doi {
    display: block
    }
.cit h|cite {
    font-size: 80%;
    padding-left: 2.5em;
    color: grey
    }
.results-cit.cit h|cite {
    padding-left: 3.7em
    }
#pageid-toc .cit h|cite .cit-ahead-of-print-date {
    display: none
    }
#pageid-toc .cit h|cite .cit-accepted-date {
    display: none
    }
h|ul#site-breadcrumbs h|li h|span.breadcrumb_subject {
    padding: 0 5px 0 5px
    }
.cit .cit-extra h|span.ac-free, .cit .cit-extra h|span.ac-free-to-you {
    padding-left: 0;
    margin-left: 0
    }
.cit h|span.oup-manuscript-model-pap h|span.accepted-manuscript, .cit .cit-extra h|span.cit-flags h|span.corrected-proof, .cit .cit-extra h|span.cit-flags h|span.accepted-manuscript, .cit .cit-extra h|span.cit-flags h|span.uncorrected-proof {
    color: red
    }
.cit .cit-extra h|span.oup-manuscript-model-pap h|span {
    padding-left: 0
    }
#cb-art-nav.upper {
    text-transform: uppercase
    }
.cit-series-title h|span.hw-pub-sertitle-fasttrack {
    background-image: none;
    color: transparent;
    padding-right: 0;
    clear: both;
    height: 14px
    }
h|span.hw-pub-sertitle-hotpaper {
    background-image: url(/resource/image/hotpaper.gif);
    margin-right: -20px;
    background-position: 0 center;
    background-repeat: no-repeat;
    color: transparent;
    float: left;
    clear: both;
    line-height: 4
    }
h|span.hw-pub-sertitle-paediatricrheumatology {
    background-image: url(/resource/image/paediatricrheumatology.gif);
    background-position: 0 center;
    background-repeat: no-repeat;
    float: left;
    display: block;
    height: 45px;
    width: 16px;
    padding-right: 4px;
    color: transparent
    }
.sertitle-gif-by-js {
    margin-right: 2px
    }
h|ul#site-breadcrumbs h|li.empty {
    background: none;
    margin: 0;
    padding: 0
    }
#pageid-search-results .results-summary h|span.search-results-count {
    margin-top: 25px
    }
#cb-art-nav h|a.xref-fn {
    display: none
    }
#pageid-archive .proxy-archive-by-year h|td.width2col {
    width: 50%
    }
#pageid-archive .proxy-archive-by-year h|td.width3col {
    width: 33%
    }
h|span.rightslink-date {
    display: none
    }
h|h4#all-alerts-modify-text {
    border: 3px outset;
    padding: 2px;
    width: 47px;
    margin: 2px 0 2px 0;
    font-size: 90%
    }
h|div#proxied-contents h|h4#all-alerts-modify-text h|a {
    font-weight: bold
    }
h|span.sub-article-title {
    padding: 2
    }
h|img.sub-article-title-bullet-js {
    margin-left: 2px
    }
h|span.sub-article-title.inherited-article-title {
    background-image: none;
    padding-left: 0;
    display: none
    }
#pageid-calendar-submit #calendar-submission h|fieldset, #pageid-calendar-search h|fieldset {
    float: none
    }
#pageid-calendar-submit h|input, #pageid-calendar-search h|input {
    font-size: 12px
    }
#pageid-calendar-submit #content-block #proxied-contents, #pageid-calendar-search #content-block #proxied-contents {
    font-size: 1.44em
    }
#pageid-forum-submit #content-block #proxied-contents h|fieldset, #pageid-eletters-submit #content-block #proxied-contents h|fieldset, #pageid-calendar-submit .field-help h|span, #pageid-calendar-search h|span {
    font-size: 100%
    }
#pageid-calendar-submit h|fieldset#calendar-submit-details h|td.field-name {
    width: 12em
    }
#pageid-calendar-submit h|fieldset h|legend, #pageid-calendar-search h|fieldset h|legend {
    position: static
    }
#pageid-calendar-search .limit-by-date h|span {
    display: block
    }
h|div#pageid-content.hide-cols {
    overflow: visible
    }
h|span.cit-elocation {
    display: none
    }
.databa h|span.cit-elocation {
    display: inline
    }
.aobpla h|span.cit-elocation {
    display: inline
    }
.biohorizons h|span.cit-elocation {
    display: inline
    }
.mmcts h|span.cit-elocation {
    display: inline
    }
.emph h|span.cit-elocation {
    display: inline
    }
.ptep h|span.cit-elocation {
    display: inline
    }
.toc-cit .cit-auth-list h|li.group-author.group-author-first-item {
    left: 0
    }
h|div#hovering-abs .abstract h|ul {
    display: block
    }
.cit .cit-extra h|span.nowuptodate-descr {
    color: #063;
    display: block;
    font-weight: normal;
    padding-left: 0;
    text-transform: none
    }
#pageid-authindex .empty-data {
    padding: 20px 0;
    font-weight: bold
    }
h|ul.issue-title h|li {
    font-weight: bold;
    font-size: 200%;
    margin: 0 0.4em 0.4em 0;
    font-family: Georgia, "Times New Roman", serif
    }
h|div#pageid-collections.hw-gen-page h|div#content-block h|div#proxied-contents h|form.oup-collections h|input#contract-target {
    width: 0
    }
.oup-collections .arrows, .oup-collections .arrows.contracted {
    background-position: top left;
    background-repeat: no-repeat
    }
.oup-collections .arrows {
    background-image: url(/icons/toc/darrow.gif)
    }
.oup-collections .arrows.contracted {
    background-image: url(/icons/toc/rarrowsm.gif)
    }
.oup-collections .arrows h|dt {
    padding-left: 12px
    }
.oup-collections .arrows.contracted h|dd h|dt, .oup-collections .arrows.contracted h|dd h|ul {
    display: none
    }
#col-2 #article-cb-main h|div.cb-section h|ol h|li.cme-link {
    display: none
    }
