@namespace h "http://www.w3.org/1999/xhtml";
#hw-login-msg-box h|div.additional-access-denied-text {
    text-align: left;
    border: 1px solid #000;
    padding: 5px;
    margin: 10px 0
    }
#hw-login-roles-signin-form h|fieldset {
    position: relative;
    float: none;
    width: auto;
    padding: 0.5em
    }
