
/* 
################################################################## 
## 
##   THIS IS A GENERATED FILE. 
## 
##   ANY CHANGES YOU MAKE DIRECTLY TO THIS FILE WILL BE OVERWRITTEN 
##   AND LOST THE NEXT TIME THIS FILE IS GENERATED. 
## 
##  (This file last generated: Nov 14, 2012, 2:11 P.M.) 
## 
################################################################## 
 */

/* ##### BELOW added by: file:/highwire/webapps/bioinfo/resources/publisher/build/local-css-vars.base.xml ##### */


/*This css is included as hw-local-global.css. It is in the publisher site-conf.mix-in.xml based on Ian's suggestion
so that a local site-conf.mix-in is not needed.  The result is that definitions can accidentally be overridden by publisher css by page-id, which is included AFTER the match-all-pages css. If local definitions are more specific, they won't be overridden.*/


/*Solving this via site-conf instead
.content-box div#cb-letter-cit {

}*/

/*This will be part of OUP's bricolage CSS now, but leaving examples of how to use local-css-vars in place*/

/*#pageid-home #header {
    background-image: url(/publisher/img/backgrounds/home/header_bioinfo.jpg);
    width: 760px;
    height: 97px;
}
#pageid-home #header h1#page_title {
    background-image: url(/publisher/img/text/titles/home/title_bioinfo.jpg);
    margin-top: 34px;
    width: 500px;
    height: 52px;

}
.hw-gen-page #header {
    background-image: url(/publisher/img/backgrounds/header_bioinfo.jpg);
    width: 960px;
    height: 97px;
}
.hw-gen-page #header h1#page_title {
    background-image: url(/publisher/img/text/titles/title_bioinfo.jpg);
    margin-top: 34px;
    height: 52px;
    width:  500px;
}
.hw-gen-page #header h1#page_title a {
    display: block;
    height: 52px;
    width: 143px;
}
*/

/*h20 standard black will go with the shared publisher back icon.
If we have to do localized color, then we need a transparent publisher back
gif with css-colored back-ground color. Crucial to avoid colored back gifs for every launch.
#pageid-toc #content-block h2 {
  color:#99CCFF;
}*/


/*Open access color was not differentiated in h20. Setting to dddddd for all sites.
li.creative-commons, li.openaccess {
  background-color: #DDDDDD;
}*/

#pageid-tag-index #content-block ul.cit-auth-list {display:inline-block;}

/* ##### END OF ADDED BLOCK ##### */
