/****************************
**
** Col3 Styles
**
****************************/

#col-3 {
    margin:0;
    padding: 0;
    background-color: white;
}

#col-3 div {
    margin:0;
    padding:0;
}

#col-3 div.cb-contents {
    width: 100%;
    margin: 0;
    padding: 0px;
}

#col-3 div.cb-contents .cb-section,
#col-3 div.cb-contents .cb-section.sidebar-etoc-link {
    padding: 5px;
}

#col-3 #sidebar-current-issue.content-box {
    background-color: white;
    padding: 0;
    margin: 0px 0px 0px 5px;
}

#col-3 #sidebar-current-issue.content-box .current-issue {
    text-align: center;
}

#col-3 #sidebar-current-issue.content-box .cb-contents-header {
    background-color: #EEEEEE;
    padding: 5px;
    border-bottom: 1px solid #B9C28D;
}

#col-3 #second {
    margin: 0px 0px 0px 2.5px;
}

#col-3 .feature {
    background-color: white;
}

#col-3 .features .feature h2 {
    background-color: #EEEEEE;
    padding: 5px;
    font-size: 1.2em;
    border-bottom: 1px solid #B9C28D;
}

#col-3 .features .feature {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#col-3 .features .feature h3 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0px 0px 5px 5px;
}

#col-3 .features .feature h4,
#col-3 .features .feature .contact .name  {
    font-size: 1em;
    font-weight: bold;
    padding: 0px;
    margin: 0 8px 8px 8px;
}

#col-3 .features .feature h5 {
    color: #816d5b;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}

#col-3 .features .feature img {
    margin: 0 8px 12px 8px;
}

#col-3 .features .feature p {
    margin: 0 8px 8px 8px;
}

#col-3 .features .feature ul {
    margin: 1em 5%;
    list-style: none;
}

#col-3 .features .feature li {
    background-image: none;
    display: block;
    margin-left: 0px;
    margin-bottom: 2px;
    padding: 2px 0px 0px 0px;
    text-align: left;
    white-space: normal;
}

#col-3 .features .feature.special {
    background-color: #ede8e1;
    margin-left: 1px;
}

#col-3 .features .feature.promo h2 {
    background-color: transparent;
    font-size: 1.1em;
    font-weight: bold;
    height: auto;
    margin: 0 0 10px 8px;
    padding: 10px 8px 4px 0;
}

#col-3 .features .feature.promo h2 em {
    color: #816d5b;
    display: block;
    font-style: normal;
    margin: 2px 0;
}

#col-3 .features .feature.stronger  {
    padding-bottom: 6px;
}

#col-3 .features .feature.stronger  h2 {
    margin: 0;
}

#col-3 .features.separator_after .feature,
#col-3 .features .separator_after {
    padding-bottom: 15px;
}

#col-3 .features.separator_after .feature.last {
    background-position: 0 -1px; /* [4] */
    border: 0;
    margin-bottom: 0;
}

#col-3 .features .feature.separator_before {
        padding-top: 15px;
}

#col-3 .features.separator_after .feature.followed_on {
    background-image: none;
    border: 0;
}

#col-3 .features .feature .separator_after,
#col-3 #first .features .feature .separator_after {
    border: 0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#col-3 .features .feature p.separator_after {
    padding-bottom: 16px;
    border: 0;
}

#col-3 .features .feature h3.separator_after {
    padding-bottom: 10px;
    border: 0;
}

#col-2 #cb-art-bn h4 {
    height: 35px;
}

#col-2 #cb-art-bn #bnArticleRecs h4 {
    height: auto;
    background-color: inherit;
    border: none;
}

#col-2 .pds-box-outer {
    width: 160px;
}

#col-2 .pds-box-outer label.pds-input-label {
    width: 100px;
}

#col-2 .PDS_Poll .pds-box {
    width: 180px;
}

/*baynote*/

a.bn_g_result_link {
	position:relative; 
    	color:#000;
}

a.bn_g_result_link div.bn_mouseoverdiv{
	display:none;
	font: 12px Arial;
        padding: 0px;
        margin: 0px;

}

a.bn_g_result_link:hover div.bn_mouseoverdiv{ 
    display:block;
    position: absolute;
    top:2em;
    left:1em;
    width: 165px;
    z-index: 9999;
}

a.bn_g_result_link:hover span.bn_journaltitle {
    display:block;
    border:1px solid silver;
    text-align: center;
    font-style:bold;
    background-color: #FFFFCC;
    color: black;
    padding: 2px;
    text-decoration: none;
    font-size: 0.8em;
}

a.bn_g_result_link:hover span.bn_authorslist {
	display:block;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    text-align: left;
    color:#444;
    font-size:10px;
    background-color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

a.bn_g_result_link:hover span.bn_viewCount{
    display:block;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    text-align: center;
    font-size:10px;
    background-color: blue;
    color: #FFF;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
}

a.bn_g_result_link:hover br {
    display: none;
}

p#bnHelp {
    margin-left: 10px;
}

body.general_page div#pageid-content.hw-gen-page div#col-2 div#article-cb-main.content-box div.cb-contents div#cb-art-bn.cb-section h4.cb-section-header {height: 100%;}
body.general_page div#pageid-content.hw-gen-page div#col-2 div#article-cb-main.content-box div.cb-contents div#cb-art-bn.cb-section ul li div#bnArticleRecs ol li div.bn_g_result_title {display: list-item; list-style-type:circle;}
body.general_page div#pageid-content.hw-gen-page div#col-2 div#article-cb-main.content-box div.cb-contents div#cb-art-bn.cb-section ul li div#bnArticleRecs {padding-left: 3px;}
div#bnArticleRecs ol {list-style-type: none; }