@namespace h "http://www.w3.org/1999/xhtml";
h|div.hide-cols {
    max-width: 970px
    }
h|div#content-option-box {
    float: right;
    padding: 5px;
    margin: 10px 0 0;
    background-color: none
    }
h|div#content-option-box h|ul, h|div#content-option-box h|li {
    margin: 0;
    padding: 0
    }
h|div#content-block h|div.option-box-docked {
    padding: 2px 2px 2px 1px;
    background-color: white;
    position: fixed;
    top: -10px
    }
h|div#content-option-box h|ul {
    list-style: none;
    padding: 0;
    margin: 0
    }
h|div.hide-cols h|div#content-block {
    width: auto
    }
h|div#content-block h|li#content-toggle h|a {
    display: block;
    width: 24px;
    border: none;
    margin: 0;
    padding: 0;
    height: 13px;
    background: url(../img/misc/col-expand.gif);
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none
    }
h|div#content-block h|li#content-toggle h|a.expanded {
    background: url(../img/misc/col-contract.gif);
    background-position: right center;
    background-repeat: no-repeat
    }
h|div#content-block h|li#content-toggle h|a h|span {
    display: none
    }
h|div.hide-cols h|div#cols-min {
    position: relative;
    clear: both
    }
.hide-cols h|div#col-2-min, .hide-cols h|div#col-3-min {
    width: 100px;
    height: 15px;
    float: right
    }
.hide-cols h|div#col-2-min {
    border-bottom: 1px dashed #B8B890;
    border-left: 1px solid #808000;
    background-color: #E2E5D0
    }
.hide-cols h|div#col-3-min {
    border-bottom: 1px dashed #B8B890;
    border-left: 1px solid #808000;
    border-right: 1px solid #808000;
    background-color: #D5DABA
    }
.hide-cols h|div#col-2-min .view-more, .hide-cols h|div#col-3-min .view-more {
    color: black;
    border: none;
    margin: 0 2px;
    padding: 1px;
    float: right;
    width: 13px;
    height: 13px;
    background-color: inherit;
    background-image: url(../img/misc/pulldown.gif);
    background-repeat: no-repeat;
    background-position: center center
    }
.hide-cols h|div#col-2-min .view-more:hover, .hide-cols h|div#col-3-min .view-more:hover {
    color: white;
    background-color: #404040
    }
h|div.hide-cols h|div#col-2, h|div.hide-cols h|div#col-3 {
    display: none
    }
h|div.hide-cols h|div#col-2.palette, h|div.hide-cols h|div#col-3.palette {
    display: block;
    position: absolute;
    height: auto;
    border: 1px solid gray;
    right: 0
    }
h|div.hide-cols#pageid-content h|div.table-expansion, h|div.hide-cols#pageid-data-supp h|div#content-block .ds-img-wrap, h|div.hide-cols#pageid-data-supp h|div#content-block .table-wrapper {
    width: 98%;
    overflow: visible
    }
h|div.hide-cols h|div#content-block {
    width: auto;
    overflow: visible;
    clear: both
    }
h|div.hide-cols#pageid-data-supp h|div#content-block .table-wrapper {
    width: auto;
    overflow: visible
    }
h|div.hide-cols#pageid-data-supp h|div#content-block .table-wrapper h|table {
    border-collapse: collapse
    }
h|div.hide-cols#pageid-data-supp .table-wrapper h|table h|th, h|div.hide-cols#pageid-data-supp .table-wrapper h|table h|td {
    font-family: monospace;
    padding: 3px;
    border: 1px solid gray
    }
h|div#col-hover-close {
    position: absolute;
    left: 2px;
    top: 2px;
    line-height: 10px;
    height: 10px;
    margin: 0;
    padding: 1px 2px 2px;
    text-align: left;
    background-color: white;
    border: 1px solid gray
    }
h|div#col-hover-close h|a h|span {
    font-weight: bold
    }
h|div#col-hover-close h|a, h|div#col-hover-close h|a:link, h|div#col-hover-close h|a:hover, h|div#col-hover-close h|a:active {
    text-decoration: none;
    color: black;
    font-size: 80%
    }
