@namespace h "http://www.w3.org/1999/xhtml";
#content-block h|div.article h|h3 {
    color: black;
    background-color: white
    }
#content-block h|div.article h|div.contributors {
    text-align: left;
    margin-bottom: 10px
    }
#content-block h|div.article h|div.fn-group {
    margin-bottom: 10px
    }
#content-block h|div.article .fig, h|div.article .table {
    padding-bottom: 0.5em
    }
h|div#pageid-content .article h|div.section {
    margin-top: 20px
    }
.article h|div.section h|h4 {
    font-size: 120%;
    line-height: 2;
    color: #000;
    font-weight: bold
    }
.article h|div.section h|h3 {
    font-size: 120%;
    line-height: 2;
    color: #000;
    font-weight: bold
    }
h|h3.kwd-header {
    border-top: 1px dotted #999;
    line-height: 2;
    padding-top: 0.25em
    }
h|ul.kwd-group {
    border-top: none
    }
h|span.kwd-label, h|span.kwd-group-title {
    font-weight: bold;
    font-family: Georgia, "Times New Roman", serif
    }
h|span.kwd-group-title {
    display: none
    }
h|ul.kwd-group {
    padding: 0;
    width: 516px;
    font-size: 100%;
    text-align: left;
    text-indent: 75px;
    margin-top: -2em;
    line-height: 2;
    padding-bottom: 0.25em
    }
h|ul.kwd-group.jel {
    text-indent: 130px
    }
h|ul.kwd-group h|li.kwd:first-child h|span {
    background: none
    }
h|ul.kwd-group h|li.kwd {
    background-color: transparent;
    display: inline;
    font-weight: normal;
    padding: 0;
    margin-left: 0;
    margin-right: 0
    }
h|ul.kwd-group h|li.kwd h|span {
    background: transparent url(/publisher/img/bullet.gif) no-repeat scroll left center;
    display: inline;
    font-weight: normal;
    padding-left: 13px;
    padding-right: 0;
    margin-left: 0
    }
h|ul.kwd-group h|li.kwd h|a, #pageid-content #content-block h|div.product h|a, h|a.terms {
    color: #404040;
    text-decoration: none
    }
h|ul.kwd-group h|li.kwd h|a:hover, h|div.product h|a:hover, h|a.terms:hover {
    border-bottom: 1px dotted #603
    }
#content-block h|div.product {
    margin: 8px 0 8px 0
    }
#pageid-content #content-block h|div.article h|div.product h|span.name h|a, #pageid-content #content-block h|div.article h|div.product h|span.name h|a:hover, #pageid-content #content-block h|div.article h|div.product h|span.name h|a:visited, #pageid-content #content-block h|div.article h|div.product h|span.name h|a:link, #pageid-content #content-block h|div.article h|div.product h|span.name h|a:active {
    color: #404040;
    text-decoration: none;
    border: none;
    cursor: text
    }
.key-word-lable-xml {
    display: none
    }
h|div#hovering-ref {
    font-size: 75%;
    background-color: #FFF;
    text-align: left
    }
h|div.ref-cit h|ol.cit-auth-list {
    font-size: 90%
    }
h|div.ref-cit h|cite h|a {
    padding-left: 0.3em
    }
h|div.ref-list .cit h|cite {
    font-size: 100%;
    color: black
    }
h|div.ref-list .cit .cit-name-suffix {
    padding-left: 0.6em
    }
h|div.ref-list .cit-vol {
    font-weight: normal
    }
.cit .cit-auth-list h|li h|span {
    white-space: normal
    }
#content-block h|div.contributors h|ol.contributor-list h|li {
    margin: 0
    }
h|a.rev-xref {
    text-decoration: none;
    background-color: #CCC;
    font-weight: bolder;
    margin-right: 2px
    }
h|div.ref-cit.no-rev-xref {
    display: inline
    }
h|div#pageid-content .article h|blockquote {
    color: black;
    text-align: left;
    font-weight: normal;
    font-size: 101%
    }
h|div#pageid-content .article h|blockquote.verse-group {
    border: none
    }
h|div.pagetype-content h|div.table-expansion h|table h|th, h|div.pagetype-content h|div.table-expansion h|table h|td, h|div.pagetype-content h|div.table-wrapper h|table h|th, h|div.pagetype-content h|div.table-wrapper h|table h|td {
    font-family: verdana, sans-serif;
    border-color: transparent
    }
h|div.pagetype-content h|div.table-expansion h|table, h|div.pagetype-content h|div.table-wrapper h|table {
    border: none !important
    }
h|div.pagetype-content h|div.table-expansion h|div.table-foot {
    background-color: #EEE;
    border-color: #CCC #AAA #AAA #CCC;
    border-style: solid;
    border-width: 1px;
    padding: 1em 1em 0.25em
    }
h|div#pageid-content .article h|li.copyright-statement {
    text-align: left
    }
h|div#pageid-content .article h|ul.list-unord {
    list-style-type: disc;
    margin-left: 5%
    }
h|div#pageid-content h|div.convention, h|div#pageid-content h|div.corollary, h|div#pageid-content h|div.definition, h|div#pageid-content h|div.lemma, h|div#pageid-content h|div.proof, h|div#pageid-content h|div.proposition, h|div#pageid-content h|div.remark, h|div#pageid-content h|div.theorem {
    margin-left: 5%
    }
h|h1 h|xref-fn, h|h1 h|a.xref-fn, h|h1 h|a.xref-fn h|sup {
    font-size: 90%
    }
h|div.contributors h|ol h|li h|a.xref-corresp, .corresp .corresp-label, .fn-label {
    font-size: 0.85em;
    vertical-align: super
    }
.disp-formula-label {
    float: right
    }
#pageid-content .app .table-inline {
    width: auto;
    margin: 0
    }
#pageid-content .app h|div.table {
    margin: 0
    }
#pageid-content .corresp h|br {
    display: none
    }
#pageid-content .corresp h|strong {
    font-weight: normal;
    font-style: italic;
    margin-right: 3px
    }
h|div.contributors h|ol h|li h|address h|a {
    vertical-align: middle
    }
h|div.ref-cit h|cite h|span.cit-source, h|div.ref-cit h|cite h|abbr.cit-jnl-abbrev, h|div.ref-cit h|cite h|span.cit-conf-name, h|div.ref-cit h|cite .ie6-abbr-wrap, h|div#hovering-ref h|cite h|abbr.cit-jnl-abbrev, h|div#hovering-ref h|cite .ie6-abbr-wrap {
    font-style: normal !important
    }
#pageid-content .pos-anchor .table-inline {
    width: auto
    }
#pageid-content .pos-anchor h|div.table-inline h|td {
    padding-left: 3px
    }
h|div.hide-cols {
    position: relative
    }
h|div.hide-cols h|div#col-2.palette, h|div.hide-cols h|div#col-3.palette {
    z-index: 20;
    right: 2px
    }
h|li.glossary h|dt.def-list-title {
    float: none
    }
#pageid-content .boxed-text {
    background-color: #eee;
    padding: 10px;
    margin: 5px 0 5px 0;
    border: 1px solid #666
    }
#pageid-content #content-block h|div.article .boxed-text h|h3 {
    background-color: transparent
    }
h|div#pageid-content h|span.p-label {
    margin-right: 8px
    }
h|span.sensitive-text {
    display: none
    }
h|div#pageid-content .article h|blockquote.speech h|cite {
    margin-right: 0.5em
    }
.general_page #content-block h|li h|p {
    width: auto
    }
h|div.article {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif
    }
#pageid-content h|a.xref-fn {
    vertical-align: baseline
    }
#pageid-content h|a.xref-fn h|sup {
    vertical-align: super
    }
#cb-art-soc h|div.social-bookmarking {
    margin: 5px 0 0 0;
    padding: 0
    }
#cb-art-soc h|div.social-bookmarking h|ul {
    width: 100%
    }
h|ul.social-bookmark-links h|li {
    font-size: 90%;
    margin: 0 8px 0 0
    }
#col-2 h|div#cb-art-soc.cb-section h|ol {
    padding-left: 10px
    }
#cb-art-soc h|ol > h|li:first-child h|a {
    background-image: url(/publisher/img/envelope.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px
    }
#cb-art-soc h|ol > h|li:first-child {
    float: left;
    margin: 7px 10px 0 0;
    width: 16px;
    height: 16px
    }
#cb-art-soc h|ol > h|li {
    display: inline-block
    }
#cb-art-soc h|p.social-bookmarking-help {
    margin-left: -30px
    }
.sans-serif {
    font-family: sans-serif
    }
.pos-anchor .table-inline {
    float: none
    }
.authorurlblock h|ul.authorurls {
    margin-top: 3px
    }
.authorurlblock h|ul.authorurls h|li {
    margin-left: 5px
    }
h|div.article .graphic-with-uri {
    clear: both;
    margin: 1em 20px
    }
.graphic-with-uri-inline {
    background-color: white;
    border: 1px dotted #999;
    float: left;
    font: 0.85em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    height: auto;
    margin: 1em 5px 1em 10px;
    padding: 1em;
    text-align: center
    }
.graphic-with-uri-caption {
    background-color: #eee;
    border-color: #ccc #aaa #aaa #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 1em 1em 0.25em
    }
.graphic-with-uri .graphic-label {
    font-weight: bold
    }
