@import url(hw-content-figures.css);
@import url(hw-content-tables.css);
@namespace h "http://www.w3.org/1999/xhtml";
.highwire-marker-journal-article-start .highwire-marker-journal-article-end {
    display: none
    }
h|div.contributors h|div.affiliation-list {
    margin-top: 0.5em
    }
.hideaffil {
    position: absolute;
    left: -9999px;
    width: 5000px
    }
#content-block h|div.contributors h|div.affiliation-list h|address, #content-block h|div.contributors h|div.affiliation-list h|p {
    font-style: normal;
    padding: 0;
    margin: 0
    }
.hidenotes {
    position: absolute;
    left: -9999px;
    width: 5000px
    }
#hovering-ref {
    background-color: #CCC;
    color: #222;
    position: absolute;
    left: -9999px;
    font-size: 69.44%;
    padding: 0.5em;
    border: 1px solid #AAA;
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    z-index: 100
    }
#hovering-ref .cit-auth-list {
    font-weight: bolder;
    list-style: none;
    padding: 0;
    display: inline;
    margin: 0
    }
#hovering-ref .cit-ed-list {
    list-style: none;
    padding: 0;
    margin: 0
    }
#hovering-ref .cit-auth-list h|li, #hovering-ref .cit-ed-list h|li {
    display: inline;
    padding: 0;
    margin: 0
    }
#hovering-ref .duplicate {
    display: none
    }
#hovering-ref .cit-title {
    display: block;
    padding: 0;
    margin: 0
    }
#hovering-ref h|cite {
    font-style: normal
    }
#hovering-ref h|cite h|abbr.cit-jnl-abbrev, #hovering-ref h|cite .ie6-abbr-wrap {
    margin-right: 0.1em;
    font-style: italic
    }
#hovering-ref .cit-vol {
    font-weight: bolder
    }
h|div#pageid-content .article {
    text-align: justify
    }
h|div#pageid-content .article h|p h|q {
    display: block;
    margin: 0.5em 1em;
    padding: 0.5em
    }
h|div#pageid-content .article h|blockquote {
    display: block;
    font-size: 1.4em;
    font-weight: bolder;
    text-align: center;
    color: blue;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    border: 1px solid #ddd
    }
h|div#pageid-content .article h|blockquote.speech {
    display: block;
    font-size: 1em;
    font-weight: normal;
    color: #000;
    text-align: left;
    border: none;
    padding: 0;
    margin: 0
    }
h|div#pageid-content .article h|blockquote.speech {
    display: inherit;
    font-size: inherit;
    margin: inherit;
    padding: inherit;
    border: inherit;
    font-weight: inherit;
    text-align: inherit;
    color: inherit
    }
h|div#pageid-content .article h|blockquote.speech h|cite {
    font-weight: bold;
    margin-right: 0.2em
    }
h|div#pageid-content .figonly-view h|p {
    text-align: left
    }
h|div#pageid-content h|ol.figonly-list {
    list-style: none;
    margin: 0;
    padding-left: 0
    }
h|div#pageid-content h|li.figonly-item {
    margin-left: 0;
    padding-left: 0
    }
h|div#pageid-content h|li.figonly-item h|div.fig {
    margin: 1em 5px 1em 10px
    }
h|div#pageid-content .article .ref-list {
    text-align: left
    }
h|div.major-section, h|div.sub-section {
    font-weight: bold;
    font-size: 0.833em;
    line-height: normal;
    margin: 0;
    padding: 0
    }
h|h1 {
    margin: 10px 0 0 0;
    padding: 0
    }
h|h1.expansion-article-title, h|h1.data-supp-article-title {
    margin: 10px 0
    }
h|div.nav-placeholder, h|div.section-nav h|a {
    display: block;
    color: #a00;
    text-decoration: none;
    width: 9px;
    height: 15px;
    background-position: top left;
    background-repeat: no-repeat
    }
h|div.section-nav h|a.prev-section-link {
    background-image: url(../img/content/up.gif)
    }
h|div.section-nav h|a.next-section-link {
    background-image: url(../img/content/down.gif)
    }
h|div.section-nav h|a h|span {
    position: absolute;
    left: -9999px
    }
h|div.contributors {
    text-align: left
    }
h|div.contributors h|ol.contributor-list {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    font-weight: bold;
    text-align: left;
    white-space: normal
    }
h|div.contributors h|ol.contributor-list h|li {
    display: inline;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.7;
    white-space: normal
    }
h|div.contributors h|ol h|li h|a, h|div.extract-view h|div.contributors h|ol h|li h|span.xref-corresp, h|div.extract-view h|div.contributors h|ol h|li h|span.xref-aff, h|div.extract-view h|div.contributors h|ol h|li h|span.xref-fn {
    font-weight: normal;
    text-decoration: none;
    vertical-align: 0.2em
    }
h|div.contributors h|ol.corresp-list {
    list-style: none;
    padding: 0;
    margin: 0
    }
h|div.contributors h|ol.corresp-list h|li {
    margin-left: 0
    }
h|div.contributors h|ol.corresp-list h|li.fn h|a, h|div.contributors .em-link h|a, h|div.contributors h|li.corresp h|a {
    font-weight: normal;
    text-decoration: none;
    vertical-align: 0
    }
h|div.contributors h|ol.contributor-list h|li .name h|a {
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    color: #333;
    vertical-align: 0
    }
h|div.contributors h|ol.contributor-list h|li .name h|a:hover {
    border-bottom: 1px dotted #333
    }
h|div.contributors .xref-sep {
    vertical-align: 0.33em
    }
h|div.contributors h|ol.affiliation-list h|li {
    display: list-item;
    padding-left: 0;
    margin-left: 0
    }
h|div.contributors h|ol.affiliation-list {
    list-style: none;
    font-weight: normal
    }
h|div.contributors h|ol.affiliation-list h|li h|address, h|div.contributors h|ol.corresp-list h|li h|address {
    display: inline;
    font-style: normal;
    padding: 0;
    margin: 0;
    border: 0
    }
h|div.contributors h|ol.fn-track {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 0.833em
    }
h|div.contributors h|ol.fn-track h|li {
    padding: 0;
    margin: 5px 0 0;
    text-align: left
    }
h|div.article-edited-by {
    margin-top: 1em
    }
#extract-disclaimer {
    border: 1px solid #c8c8c8;
    padding: 0 1em;
    font-style: italic;
    margin: 0.5em 0
    }
#extract-disclaimer h|p {
    margin: 0.5em 0;
    padding: 0
    }
#footnotes h|p {
    text-align: left
    }
.article h|div.section {
    padding: 0;
    margin: 0;
    border: 0;
    clear: both
    }
.article h|div.section h|h2, .article h|div#intro-header h|h2 {
    border: 0;
    font-size: 125%;
    margin: 10px 0 10px 0;
    border-bottom: 2px dotted #999
    }
.article h|div.section h|h3, .article h|div.section h|h4, .article h|div.section h|h5 {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    display: inline;
    font-size: 1em
    }
.article h|div.section h|h4, .article h|div.section h|h5 {
    font-style: italic
    }
.article h|div.section h|h4 h|em, .article h|div.section h|h5 h|em {
    font-style: normal
    }
h|ul.kwd-group {
    text-align: center;
    font-size: 0.833em;
    padding: 0.5em;
    margin: 0;
    font-weight: bold;
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    line-height: 2
    }
h|ul.kwd-group h|li.kwd {
    display: inline;
    padding: 0.25em;
    margin: 0 0.7em;
    background-color: #d8d8d8;
    line-height: 2;
    white-space: normal
    }
h|ul.kwd-group h|li.kwd h|span {
    white-space: nowrap
    }
h|a.xref-bibr, h|a.xref-fig, h|a.xref-table {
    text-decoration: none
    }
h|a.xref-bibr:hover, h|a.xref-fig:hover, h|a.xref-table:hover {
    color: blue
    }
h|div#pageid-content h|div.table-expansion {
    overflow: auto
    }
h|span.statement-label {
    font-size: 120%;
    line-height: 1.5;
    padding-right: 0.5em
    }
#content-block h|p.p-lead {
    display: inline
    }
h|div.proposition h|span.statement-label {
    font-weight: bold
    }
h|div.proof h|span.statement-label {
    font-style: italic
    }
h|ol.cit-list {
    list-style: decimal outside;
    margin-left: 2.5em
    }
h|ol.ref-use-labels {
    list-style: none;
    margin-left: 0.5em
    }
h|ol.cit-list h|li {
    padding: 0.3em 0;
    display: list-item
    }
h|div.ref-cit .cit-metadata h|li {
    display: inline
    }
h|div.ref-cit .cit-metadata .duplicate, h|div.ref-cit .cit-metadata h|span.cit-pub-id-sep, h|div.ref-cit .cit-metadata h|span.cit-pub-id {
    display: none
    }
h|div.ref-cit .cit-metadata h|div.duplicate {
    display: none
    }
h|div.ref-list h|a.rev-xref-ref {
    font-size: 0.694em;
    font-weight: bolder;
    background-color: #CCC;
    padding: 2px
    }
h|div.ref-list .rev-xref-ref, h|div.ref-list .rev-xref-ref:link {
    text-decoration: none
    }
h|div.ref-cit h|div.cit-extra h|a, h|span.inline-cit.ref-journal .cit-extra h|a {
    font-size: 88%;
    margin-left: 0.3em;
    padding-left: 9px;
    background-image: url(../../shared/img/misc/rightchevron.gif);
    background-position: 0 center;
    background-repeat: no-repeat;
    text-decoration: underline;
    white-space: nowrap;
    display: inline-block
    }
h|span.inline-cit.ref-journal .cit-extra h|a {
    display: inline;
    white-space: normal
    }
h|span.inline-cit.ref-journal .cit-extra h|span h|span {
    font-size: 1em
    }
h|div.ref-cit h|div.cit-extra h|a:hover, h|span.inline-cit.ref-journal .cit-extra h|a:hover {
    border-bottom: 0 none
    }
h|div.ref-cit h|div.cit-extra h|a.cit-ref-sprinkles-open-url-has-image, h|span.inline-cit.ref-journal .cit-extra h|a.cit-ref-sprinkles-open-url-has-image {
    background-image: none;
    padding-left: 0.1em
    }
h|div.ref-cit h|div.cit-extra h|a.cit-ref-sprinkles-open-url-has-image h|span, h|span.inline-cit.ref-journal .cit-extra h|a.cit-ref-sprinkles-open-url-has-image h|span {
    display: none
    }
h|div.ref-cit h|div.cit-extra h|a.cit-ref-sprinkles-open-url-has-image h|img, h|span.inline-cit.ref-journal .cit-extra h|a.cit-ref-sprinkles-open-url-has-image h|img {
    vertical-align: text-bottom
    }
h|div.ref-cit h|cite {
    font-style: normal
    }
h|div.ref-cit h|cite h|span.cit-source, h|div.ref-cit h|cite h|abbr.cit-jnl-abbrev, h|div.ref-cit h|cite h|span.cit-conf-name, h|div.ref-cit h|cite .ie6-abbr-wrap {
    margin-right: 0.1em;
    font-style: italic
    }
h|div.ref-cit .cit-vol {
    font-weight: bolder
    }
h|div.ref-cit, .ref-cit h|div, .ref-cit h|cite, .ref-cit h|ol, .ref-cit h|li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: inline
    }
h|div.ref-cit.no-rev-xref, h|span.inline-cit.ref-journal.no-rev-xref {
    display: block;
    padding-top: 1px;
    margin-top: 0
    }
.ref-use-labels h|div.ref-cit.no-rev-xref {
    display: inline
    }
h|div.section .section-nav, h|div#intro-header .section-nav {
    float: right;
    background-color: white;
    padding: 0 0.5em 0 1em
    }
.view-more-img {
    margin: 0 0.5em 0 0.25em
    }
.article-options {
    float: right
    }
.article-options h|img {
    margin: 0 0.25em 0.5em 0.25em
    }
h|div.fn-group h|ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 5px
    }
h|div.fn-group h|ul h|li {
    margin: 0;
    padding: 0.5em 0;
    text-align: left;
    border-bottom: 1px solid #C8C8C8;
    width: 95%
    }
h|div.fn-group h|ul h|li h|ul {
    margin: 0;
    padding: 0
    }
h|div.fn-group h|ul h|li h|ul h|li {
    padding: 0;
    border-bottom: none;
    width: 100%
    }
#content-block h|div.fn-group h|ul h|li h|p {
    margin: 0.5em 0;
    padding: 0
    }
h|div.fn-group h|li.corresp h|a.rev-xref {
    font-size: 0.694em;
    font-weight: bolder;
    background-color: #CCC;
    padding: 2px;
    margin-right: 5px
    }
h|div.fn-group h|li.corresp h|a.rev-xref, h|div.fn-group h|li.corresp h|a.rev-xref:link {
    text-decoration: none
    }
h|li.glossary h|dl {
    margin: 0;
    padding: 0.5em 0
    }
h|li.glossary h|dt {
    float: left;
    clear: left;
    padding: 0.2em 1em;
    font-weight: bolder
    }
h|li.glossary h|dd {
    text-align: left;
    padding: 0.2em 1em
    }
h|a.inline-ad-match {
    text-decoration: underline;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    color: #686868
    }
.search-term-highlight {
    color: #C00;
    font-weight: bold
    }
h|div#cb-entrez-links-placeholder {
    margin: 0;
    padding: 0
    }
h|div#cb-entrez-links-placeholder h|ul {
    list-style: none;
    margin: 0;
    padding: 0
    }
h|div#cb-entrez-links-placeholder h|ul h|li {
    margin: 5px 0 0 0
    }
h|div#cb-entrez-links-placeholder h|ul h|ul {
    list-style: square;
    list-style-position: outside
    }
h|div#cb-entrez-links-placeholder h|ul h|ul h|li {
    margin: 0 0 0 15px
    }
#content-block h|div.social-bookmarking {
    clear: both
    }
h|ul.social-bookmark-links {
    margin: 0;
    margin-top: 2em;
    list-style: none;
    border-top: 1px solid #aaa;
    padding-top: 0.5em;
    margin-top: 1em
    }
h|ul.social-bookmark-links h|li {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    display: inline;
    font-size: 0.833em
    }
h|ul.social-bookmark-links h|li h|a, h|ul.social-bookmark-links h|li h|a:hover {
    text-decoration: none
    }
h|ul.social-bookmark-links h|a h|span:hover {
    border-bottom: 1px dotted
    }
h|ul.social-bookmark-links h|li h|span.soc-bm-link-text {
    margin-left: 4px
    }
#content-block h|ul.social-bookmark-links h|li {
    white-space: normal
    }
#content-block h|ul.social-bookmark-links h|li h|a {
    white-space: nowrap
    }
#content-block h|p.social-bookmarking-help {
    line-height: 1;
    margin: 5px 0 10px 0
    }
h|p.social-bookmarking-help h|a {
    text-decoration: none;
    font-size: 88%
    }
h|p.social-bookmarking-help h|a:hover {
    border-bottom: 1px dotted
    }
h|div#related-urls h|h2, h|div#cited-by h|h2, h|div#related h|h2, h|div#rel-related-article h|h2 {
    padding-left: 0;
    margin-left: 0;
    border-top: 1px solid #aaa;
    padding-top: 0.5em;
    margin-top: 1em
    }
h|div#rel-related-article h|ul.related-list, h|div#related-urls h|ul.related-url-results {
    list-style: none;
    padding-left: 0;
    margin-left: 0
    }
h|div#related-urls h|ul.related-url-results h|a, h|div#cited-by h|ul.cited-by-list, h|div#related h|ul.related-list {
    padding-left: 0;
    margin-left: 0
    }
h|div#cited-by h|ul.cited-by-list h|li.cit, h|div#related h|ul.related-list h|li.cit, h|div#rel-related-article h|ul.related-list h|li.cit {
    border: 1px solid #BBB;
    border-collapse: collapse
    }
h|h1 h|a.xref-fn {
    text-decoration: none;
    font-size: 50%;
    vertical-align: super
    }
h|li.copyright-statement {
    list-style-type: none;
    margin-left: 0
    }
h|div#before_resource_rev_errata h|p h|a {
    color: #A70716
    }
h|span.hltext {
    background-color: #FFD800;
    font-weight: bolder
    }
.underline {
    text-decoration: underline
    }
.list-romanlower {
    list-style-type: lower-roman
    }
.list-alphalower {
    list-style-type: lower-alpha
    }
.list-alphaupper {
    list-style-type: upper-alpha
    }
h|span.inline-l4-heading {
    font-weight: bolder;
    font-style: italic;
    margin-right: 0.2em
    }
#content-block h|div.contributors.intlv h|ol.contributor-list h|li {
    display: block
    }
#pageid-content .ref-cit h|a {
    word-wrap: break-word;
    white-space: normal
    }
#content-block h|ul.history-list {
    list-style-type: none;
    margin: 5px 0;
    padding: 0 0 0;
    clear: both
    }
h|ul.copyright-statement {
    list-style-type: none
    }
.cit .cit-auth-list h|li h|span.cit-collab {
    white-space: normal
    }
.rev-xref-ref, .rev-xref {
    font-family: "Lucida Sans Unicode", Arial, "Lucida Grande", Tahoma, Verdana, Helvetica, sans-serif
    }
h|ul.author-notes {
    list-style-type: none
    }
#content-block h|img.pdf-extract-img {
    width: 500px
    }
h|div.hide-cols #content-block h|img.pdf-extract-img {
    width: auto
    }
h|div.popup-graphics {
    display: none
    }
#bg-hovering-img {
    background: transparent url(/shared/img/misc/overlay.png) repeat top left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100
    }
#hovering-img {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    width: 600px;
    background-color: #fff;
    color: #7F7F7F;
    font-size: 0.8em;
    padding: 20px;
    border: 2px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    z-index: 101
    }
#hovering-img h|a.boxclose {
    float: right;
    width: 15px;
    height: 15px;
    background: transparent url(/shared/img/misc/cancel.png) no-repeat top right;
    margin-top: -25px;
    margin-right: -25px;
    cursor: pointer
    }
.corresp-list .corresp-label {
    font-size: 0.85em;
    line-height: 0;
    vertical-align: super
    }
.disp-formula-label {
    float: right
    }
#content-block .hw-popup-error {
    border: 2px solid black;
    margin: 1em;
    padding: 1em
    }
#content-block .hw-popup-error h|p {
    margin: 0;
    padding: 0 0 0.5em 0
    }
#content-block h|div.section h|p.h-lead {
    display: inline
    }
.disp-formula .MathJax_MathML {
    font-size: 150%
    }
.inline-formula .MathJax_MathML {
    font-size: 100%
    }
#rating-count {
    display: block;
    clear: both;
    padding-top: 3px
    }
#rateStatus {
    width: 100%
    }
#rateMe {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0
    }
#rateMe h|li {
    list-style: none
    }
#rateMe h|a:hover {
    background: url(/shared/img/content/1000-hover.png) no-repeat
    }
#rateMe .on {
    background: url(/shared/img/content/1000.png) no-repeat
    }
#rateMe h|a {
    float: left;
    background: url(/shared/img/content/0.png) no-repeat;
    width: 16px;
    height: 15px
    }
#ratingSaved {
    display: none
    }
#quality {
    float: none;
    margin-top: 0.5em
    }
.saved {
    color: red
    }
h|div.rateit {
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none
    }
h|div.rateit h|div.rateit-range {
    position: relative;
    display: inline-block;
    background: url(/shared/img/content/star.gif);
    height: 16px
    }
h|div.rateit h|div.rateit-hover, h|div.rateit h|div.rateit-selected {
    position: absolute
    }
h|div.rateit h|div.rateit-hover {
    background: url(/shared/img/content/star.gif) left -32px
    }
h|div.rateit h|div.rateit-hover-rtl {
    background-position: right -32px
    }
h|div.rateit h|div.rateit-selected {
    background: url(/shared/img/content/star.gif) left -16px
    }
h|div.rateit h|div.rateit-selected-rtl {
    background-position: right -16px
    }
h|div.rateit h|div.rateit-reset {
    background: url(/shared/img/content/delete.gif) 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left
    }
h|div.rateit h|div.rateit-reset:hover {
    background-position: 0 -16px
    }
.table-center {
    text-align: center
    }
.table-left {
    text-align: left
    }
.table-right {
    text-align: right
    }
.highwire-journal-article-marker-end {
    clear: both
    }
h|div#col-2 h|div#semantics-similar-articles.content-box h|div.cb-contents h|div#semantics-similar-articles-content.cb-section h|div#similar-articles h|a#more-art {
    margin-left: 135px
    }
h|div#col-2 h|div#semantics-similar-articles.content-box h|div.cb-contents h|div#semantics-similar-articles-content.cb-section h|div#similar-articles h|a#less-art {
    margin-left: 135px
    }
