@namespace h "http://www.w3.org/1999/xhtml";
h|body {
    background-color: #dcd8cc;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center
    }
#content-block h|div.article {
    text-align: left
    }
h|div.hw-gen-page, h|div.sidebar-issue-nav, h|div.article-nav, #col2, #col3, #col-2 h|div.sidebar, #col-2 .toc-navigation .toc-links h|li, #col-2 .toc-navigation .data-supp-links h|li, #col-2 .this-issue .toc-links h|li, #col-2 h|div#docked-slugline, #col-2 h|div#slugline, #col-2 .cb-corr-slug h|div.correction-for-article, #col-2 .cb-corr-slug h|div.retraction-for-article, #col-2 .cb-corr-slug h|div.revision-for-article, #col-2 h|div.content-box, #col-3 #sidebar-current-issue, #col-3 .features .feature, h|div.hw-gen-page #content-block h|fieldset, h|div.hw-gen-page #content-block .search-buttons, #pageid-collections.hw-gen-page #content-block, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 h|div.sidebar-related-coll, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 h|div.sidebar-related-coll h|ul h|li, .search-nav, #pageid-login.hw-gen-page #content-block, #hw-login-sign-in-group, #hw-login-sign-in-box, #hw-ac-standalone-form, #hw-login-sign-in-box .hw-login-option-list, .hw-login-extra-group, .hw-login-extra-group h|span.help-links h|a, .hw-login-extra-group-above-signin, #pageid-login.hw-gen-page #content-block #hw-login-sign-in-group #hw-login-sign-in-box h|form.hw-ac-standalone-form h|fieldset, .hw-gen-page #primary_nav h|a {
    font-size: 100%
    }
#site-breadcrumbs, #col-2, #col-3, #content-block, h|div.hw-gen-page #content-block h|fieldset, h|div.hw-gen-page #content-block .search-buttons, #pageid-collections.hw-gen-page #content-block, #pageid-login.hw-gen-page #content-block, .hw-gen-page #primary_nav h|a {
    font-size: 70%
    }
h|a, h|a.link, #site-breadcrumbs h|a:link, .content-block h|a:link, #col-2 h|a:link, #col-3 h|a:link, h|div.contributors h|ol.contributor-list h|li .name h|a:link, h|div.contributors h|li.corresp h|a:link, h|div.article h|a:link, h|div.article h|li.kwd h|a:link, #col-2 h|div.article-nav h|a:link, h|ol.cit-list h|li .cit-extra h|a:link, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 h|a:link, .search-nav h|a:link, #pageid-login.hw-gen-page #content-block h|a:link, #secondary_footer #copyright h|a:link {
    color: #00c;
    text-decoration: none
    }
#site-breadcrumbs h|a:visited, .content-block h|a:visited, #col-2 h|a:visited, #col-3 h|a:visited, h|ol.cit-list h|li .cit-extra h|a:visited, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 h|a:visited, .search-nav h|a:visited, #pageid-login.hw-gen-page #content-block h|a:visited, #secondary_footer #copyright h|a:visited {
    color: purple;
    text-decoration: none
    }
.content-block h|a:hover, .content-block h|a:active, #col-2 h|a:hover, #col-2 h|a:active, #col-3 h|a:hover, #col-3 h|a:active, h|div.contributors h|ol.contributor-list h|li .name h|a:hover, h|div.contributors h|li.corresp h|a:hover, h|div.article h|a:hover, h|div.article h|li.kwd h|a:hover, h|div.article h|a:hover.terms h|li, #site-breadcrumbs h|a:hover, h|ol.cit-list h|li .cit-extra h|a:hover, #pageid-collections.hw-gen-page #content-block #proxied-contents #col-2 h|a:hover, .search-nav h|a:hover, #pageid-login.hw-gen-page #content-block h|a:hover, #secondary_footer #copyright h|a:hover {
    text-decoration: underline
    }
#col-2 h|div.article-nav h|a:hover {
    color: #00c
    }
#col-2 h|div.article-nav h|a:visited {
    color: purple
    }
#col-2 h|a.collapse-toggle {
    color: black
    }
h|div.contributors h|ol.contributor-list h|li .name h|a:hover, h|div.content-box h|a:hover, h|div.article h|li.kwd h|a.kwd-search {
    border-bottom: none
    }
h|div#proxied-contents h|a {
    font-weight: normal
    }
#primary_nav h|a, #secondary_nav h|a, #header h|a, #primary_footer h|a, #secondary_footer h|a {
    color: #000
    }
h|p.hide {
    border: 0;
    margin: 0;
    padding: 0
    }
#primary_nav h|div, #secondary_nav h|div, #header h|div, #primary_footer h|div, #secondary_footer h|div {
    border: 0;
    font-family: verdana, sans-serif;
    font-size: 70%;
    margin: 0;
    padding: 0
    }
#primary_nav h|ul, #secondary_nav h|ul, #header h|ul, #primary_footer h|ul, #secondary_footer h|ul {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0
    }
#primary_nav h|ul h|li, #secondary_nav h|ul h|li, #header h|ul h|li, #primary_footer h|ul h|li, #secondary_footer h|ul h|li {
    border: 0;
    margin: 0;
    padding: 0
    }
#primary_nav, #secondary_nav, #primary_footer {
    float: left;
    width: 100%
    }
#header h|strong#page_logo {
    background-image: url(/resource/image/text/headings/on_yellow/oj_logo.gif);
    background-repeat: no-repeat;
    display: block;
    height: 15px;
    margin: 33px 0 6px 22px;
    width: 266px
    }
#header h|strong#page_logo h|a {
    display: block;
    height: 15px;
    width: 266px
    }
#header h|em#tag_line {
    background-image: url(/resource/image/text/headings/on_yellow/tag_line.gif);
    background-repeat: no-repeat;
    display: block;
    height: 5px;
    margin: 0 0 6px 22px;
    width: 201px
    }
.journal #secondary_nav h|strong#page_logo {
    background-image: url(/resource/image/text/headings/on_black/oj_logo.gif);
    background-repeat: no-repeat;
    background-position: top left;
    float: left;
    height: 9px;
    margin: 4px 0 0 22px;
    width: 142px
    }
.journal #secondary_nav h|strong#page_logo h|a {
    display: block;
    height: 9px;
    width: 142px
    }
#oas_top, #ad-top {
    margin: auto;
    margin-bottom: 10px;
    clear: both;
    text-align: center
    }
#oas_bottom, #ad-footer {
    margin: auto;
    margin-bottom: 10px;
    clear: both;
    position: relative;
    z-index: 10;
    text-align: center
    }
#oas_bottom, #ad-footer {
    position: relative;
    z-index: 10
    }
#oas_top h|img, #oas_bottom h|img, #ad-top h|img, #ad-footer h|img {
    display: block;
    margin: 0 auto
    }
#oas_right1 {
    margin: auto;
    margin-bottom: 10px;
    clear: both;
    text-align: center
    }
#oas_right1 h|a h|img {
    margin-left: 30px
    }
.ad_hidden {
    display: none
    }
.ad_unhidden {
    display: block
    }
.ad_working {
    visibility: hidden
    }
h|div#oas_top.ad_unhidden {
    text-align: center
    }
h|div#proxied-contents h|table.proxy-archive-by-year {
    margin-left: auto;
    margin-right: auto
    }
h|div#proxied-contents h|table.proxy-archive-by-year h|th, h|div#proxied-contents h|table.proxy-archive-by-year h|td {
    padding: 5px
    }
h|div#pageid-archive #content-block h|table.proxy-archive-by-year h|td.proxy-archive-by-year-month h|h3 {
    background-color: #EEE;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #B9C28D
    }
h|div#hovering-abs {
    background-color: #fff;
    text-align: left;
    -moz-box-shadow: 0.5em 0.5em 0.5em silver;
    -webkit-box-shadow: 0.5em 0.5em 0.5em silver;
    box-shadow: 0.5em 0.5em 0.5em silver
    }
h|div#hovering-abs-ptr {
    background-image: url(../../publisher/img/misc/abs-ptr.white.gif)
    }
h|div#hovering-abs h|h2 {
    font-size: 90%;
    padding: 0 0.4em 0.4em 0.4em;
    margin: 0 0.5em 0.5em 0.5em
    }
h|div#hovering-abs .abstract h|h2 {
    margin-top: 0.4em;
    padding-top: 0.5em
    }
h|div#hovering-abs h|h1 {
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
    font-size: 120%;
    font-family: Georgia, "Times New Roman", serif
    }
h|div#hovering-abs h|span.kwd-group-title {
    display: none
    }
h|p.hide, #primary_nav h|ul h|li h|a h|span, #primary_nav h|ul h|li h|strong h|span, #secondary_nav h|ul h|li h|a h|span, #secondary_nav h|ul h|li h|strong h|span, #secondary_nav h|strong h|span, #header h|strong h|span, #header h|em h|span, #header h|h1 h|span, #header h|h2 h|span, #page_title h|h1 h|span, #primary_footer h|strong h|span, #primary_footer h|em h|span {
    display: block;
    height: 0.1em;
    overflow: hidden;
    width: 0
    }
h|p.hide {
    margin-bottom: -0.1em
    }
#hw h|div.referrer-based-search-line {
    font-family: arial, sans-serif;
    font-size: 0.75em;
    background-color: yellow;
    padding-top: 3px;
    padding-right: 25px;
    padding-bottom: 3px;
    padding-left: 25px;
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 5px;
    margin-left: 0
    }
#hw h|div#issue-title h|p {
    font-family: arial, sans-serif;
    font-size: 0.75em;
    background-color: #eee;
    width: 450px;
    padding: 10px;
    border: 1px solid silver
    }
#hw h|div#issue-title h|p h|strong {
    font-weight: normal
    }
#inst_logo {
    text-align: right
    }
#inst_logo h|a h|img {
    border: none
    }
h|span.hw-pub-sertitle-fasttrack {
    background-image: url(/resource/image/fasttrack.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    padding-right: 40px;
    color: transparent
    }
h|a.xref-fn h|sup {
    font-size: 0.83em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em
    }
h|a.xref-fn {
    line-height: 0
    }
h|div.cit-extra {
    display: block
    }
#col-3 #sidebar-current-issue h|ol {
    text-align: center
    }
#col-3 #sidebar-current-issue .cb-section {
    border-bottom: none;
    margin: 0
    }
h|div.ref-list h|a.rev-xref-ref, h|a.rev-xref {
    background-color: transparent;
    border: 1px solid silver;
    padding: 0 2px 0 2px;
    margin: 0 2px 0 2px
    }
h|div.ref-list h|a.rev-xref-ref:hover, h|a.rev-xref:hover {
    background-color: silver
    }
.strike {
    text-decoration: line-through
    }
.ac-free-to-you {
    display: none
    }
.content-box .free-to-you {
    display: none
    }
h|div#content-block .cit-metadata h|h4.cit-first-element {
    padding-left: 2em
    }
h|ul.history-list {
    text-align: right
    }
#content-block #cited-by h|h2 {
    background-color: transparent
    }
#col-3 #second .feature h|img {
    display: block;
    margin-left: auto;
    margin-right: auto
    }
h|div.license, h|ul.copyright-statement {
    display: block;
    margin-top: 1em
    }
h|div.ref-cit h|span.cit-comment h|a, h|a.cit-ref-sprinkles {
    font-weight: normal
    }
h|span.cit-reflinks-full-text h|span.free-full-text {
    color: green
    }
h|div#pageid-content .article h|p h|q {
    border-left: 1em solid #eee
    }
h|div#content-block .cit-metadata h|h4 {
    margin: 0
    }
h|img.cover {
    border: 1px solid silver
    }
h|html h|body.general_page h|div#pageid-eletters.hw-gen-page h|div#col-2 h|div.sidebar h|ol {
    margin-left: 2em
    }
h|div#content-block h|div.cit h|div.cit-metadata h|ul.cit-auth-list {
    display: block
    }
h|ol.results-cit-list .cit-auth-list {
    display: block
    }
h|div#pageid-search-results.hw-gen-page h|div#content-block h|ol.results-cit-list h|li.results-cit h|div.results-cit h|div.cit-metadata h|ul.cit-auth-list {
    margin-left: 0
    }
#pageid-content #content-block h|h2 {
    padding-left: 0;
    padding-bottom: 0.25em
    }
h|div#slugline {
    text-align: center
    }
h|div#pageid-content h|div#col-2 h|div.cb-contents h|li {
    margin-bottom: 3px
    }
h|div#pageid-content h|div#col-3 h|div#second h|div.features h|div.feature h|li {
    margin-bottom: 3px
    }
h|div#pageid-content h|div#col-3 .feature {
    padding-bottom: 0;
    margin-bottom: 1.5em
    }
#pageid-toc .hw-pub-sertitle-editorschoice {
    display: inline
    }
.hw-pub-sertitle-editorschoice {
    text-transform: capitalize
    }
h|div#pageid-tag-index h|div#content-block h|ol.results-cit-list h|ul.cit-auth-list {
    margin-left: 3em
    }
h|div#pageid-tag-index h|div#content-block h|div.search-nav {
    border: none
    }
h|ul.supplement-list h|li.issue-cit {
    margin: 0 0 1em 0
    }
#pageid-search-results #col-2 h|ul.results-actions h|li {
    margin-bottom: 0.5em
    }
#pageid-toc.hw-gen-page #content-block h|div.toc-level h|ul.cit-list h|li.cit h|div.cit-extra h|ul.cit-views h|li.last-item h|p.nowuptodate-info {
    border: 1px solid silver;
    color: #063;
    display: block;
    font-weight: normal;
    padding: 0 0.5em 0.5em 0;
    width: 97%;
    text-transform: none;
    text-align: center;
    margin-top: 0.5em
    }
#pageid-content #content-block .verse-group h|p.verse-line {
    line-height: 1
    }
h|a:visited {
    color: purple
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block h|div.additional-access-denied-text {
    display: none
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block h|div#hw-login-instruction {
    background-color: #efefef;
    text-align: center;
    font-size: 100%;
    padding: 5px 0 5px 0;
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 15px
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-item-group h|div#hw-login-content-item {
    margin-bottom: 15px
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-item-group h|div#hw-login-content-item h|ul.cit-auth-list {
    font-size: 50%;
    display: none
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-instruction {
    margin-bottom: 0
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-rbac-group {
    margin-bottom: 20px
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-sign-in-group {
    margin-bottom: 20px
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-sign-in-box {
    margin-top: 10px
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-sign-in-box h|ul.hw-login-option-list {
    line-height: 90%
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-ppv-group {
    margin-bottom: 20px
    }
h|body.general_page.journal h|div#pageid-login.hw-gen-page h|div#content-block #hw-login-shib-athens-group {
    margin-bottom: 15px
    }
h|div#col-3 .sidebar-qs {
    margin: 0 5px 5px 5px;
    background-color: #EEE
    }
h|div#col-3 .sidebar-qs h|form.searchbox {
    margin: 2px
    }
h|div#col-3 .sidebar-qs h|form.searchbox h|div h|input#header-qs-input {
    width: 78%
    }
h|div#col-3 .sidebar-qs h|form.searchbox h|input.inline_button {
    float: right;
    margin-right: 0.2em
    }
h|div#col-3 .sidebar-qs h|form.searchbox h|p {
    margin-bottom: 0.5em
    }
#col-3 h|div.most-links-box .most-list h|li {
    padding-bottom: 3px
    }
h|div#responses {
    margin-top: 10px
    }
h|li.notice.correction-links {
    background-color: yellow;
    margin-right: 5px
    }
h|div#hw-login-review-subs {
    display: none
    }
h|img.hwac-institutional-logo {
    margin: 5px 10px 0 0
    }
h|div#pageid-content.hw-gen-page h|div#col-2 h|div#article-cb-main.content-box h|div.cb-contents h|div#cb-art-soc.cb-section h|ol h|li h|div.social-bookmarking h|ul.social-bookmark-links h|li.social-bookmarking-item {
    margin: 0.1em
    }
#pageid-content #oas_top {
    min-height: 24px;
    height: auto !important;
    height: 24px
    }
.overline {
    margin-top: 20px;
    margin-bottom: 20px;
    font: bold 1.25em Georgia, "Times New Roman", serif;
    color: #555
    }
h|div#col-2 h|div.sidebar-qs {
    background-color: #EEE;
    border: 1px solid #FFF
    }
.proxy-archive-cover-images h|img {
    border: 1px solid silver
    }
h|div.license {
    font-size: 0.8em
    }
h|td.crossref-cite {
    vertical-align: middle
    }
h|tr.crossref-space-row {
    display: none
    }
#pageid-toc .hw-pub-property-meeting_abstract h|ul.cit-first-element.cit-auth-list {
    display: none
    }
#pageid-toc .hw-pub-property-meeting_abstract .sub-article-title {
    display: block;
    margin: 0 0 0.5em 0;
    font-weight: normal
    }
#pageid-toc .hw-pub-property-meeting_abstract h|img.sub-article-title-bullet-js {
    display: none
    }
h|body.general_page h|div#pageid-content.hw-gen-page h|div#col-2 h|div#article-cb-main.content-box h|div.cb-contents h|div.cb-section h|ol h|li.cb-versions h|div h|ol.version-list h|li.current-li h|a {
    text-decoration: underline;
    background-color: red;
    padding: 3px;
    line-height: 2em;
    color: #fff;
    font-weight: bold;
    box-shadow: 0.5em 0.5em 0.5em silver
    }
h|body.general_page h|div#pageid-content.hw-gen-page h|div#col-2 h|div#docked-nav.dockblock h|div#docked-cb.content-box h|div.cb-contents h|div.cb-section h|ol#docked-nav-views h|li.cb-versions h|div h|ol.version-list h|li.current-li h|a {
    text-decoration: underline;
    background-color: red;
    padding: 3px;
    line-height: 2em;
    color: #fff;
    font-weight: bold
    }
h|body.general_page h|div#pageid-content.hw-gen-page h|div#col-2 h|div#article-cb-main.content-box h|div.cb-contents h|div.cb-section h|ol h|li.cb-versions h|div h|ol.version-list h|li.current-li h|span.current-version {
    font-size: 0.8em
    }
h|html h|body.general_page h|div#pageid-content.hw-gen-page h|div#col-2 h|div#docked-nav.dockblock h|div#docked-cb.content-box h|div.cb-contents h|div.cb-section h|ol#docked-nav-views h|li.cb-versions h|div h|ol.version-list h|li.current-li h|span.current-version {
    font-size: 0.8em
    }
h|body.general_page h|div#pageid-content.hw-gen-page h|div#content-block h|div.version-links-before-resource {
    background-color: red;
    padding: 3px;
    line-height: 2em;
    color: #fff;
    font-weight: bold;
    padding: 0.5em;
    width: 90%;
    text-align: center;
    box-shadow: 0.5em 0.5em 0.5em silver
    }
h|body.general_page h|div#pageid-content.hw-gen-page h|div#content-block h|div.version-links-before-resource h|a {
    text-decoration: underline;
    color: #fff
    }
h|div#content-block h|div.article h|ol.cit-list h|li {
    margin-bottom: 1em
    }
h|div#pageid-toc h|div#content-block h|div.toc-level h|ul.cit-list h|li.cit {
    margin-bottom: 2em
    }
h|div#pageid-content.hw-gen-page h|div#content-block h|p {
    font-size: 1.25em
    }
h|ol.cit-list h|li {
    font-size: 1.1em
    }
h|img.toc-sec-expand-icon, h|img.toc-sec-collapse-icon {
    margin: 0 0.5em 0.1em 0
    }
h|div#col-3 h|div.most-links-box h|ul h|li.most-cur-sel h|div.most-list h|ol h|li {
    margin-bottom: 0.5em
    }
h|div#col-3 h|div.most-links-box h|ul h|li.most-cur-sel h|div.most-list h|ol h|li h|a, h|div#col-3 h|div.most-links-box h|ul h|li.most-cur-sel h|div.most-list h|a {
    color: blue;
    font-size: 1em;
    line-height: 1.1em
    }
h|img#cover, h|img#hw-login-cover-image, h|table.proxy-archive-cover-images h|img {
    -moz-box-shadow: 0.5em 0.5em 0.5em silver;
    -webkit-box-shadow: 0.5em 0.5em 0.5em silver;
    box-shadow: 0.5em 0.5em 0.5em silver
    }
h|img#cover, h|img#hw-login-cover-image {
    border: 1px solid silver
    }
#col-2 .cover h|img {
    border: 1px solid silver
    }
h|div#pageid-articleusage h|div.table-note {
    color: #888;
    font-size: 0.8em
    }
h|div#pageid-articleusage h|div#table-display h|td.td-data {
    border: none
    }
h|div#pageid-articleusage h|div#table-display h|div.table-header h|h4 {
    color: black
    }
h|div#pageid-articleusage h|div#related-links h|div.related-header h|h4 {
    color: black
    }
h|div.cit-extra h|a {
    font-weight: normal
    }
h|html h|body.general_page h|div#pageid-content.hw-gen-page h|div#content-block .fig-expansion h|div.fig-caption {
    background-color: #fff;
    border: none;
    margin-top: 1em
    }
h|div#power-point h|div.power-point-instructions {
    font-size: 0.8em
    }
