.article {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left
    }
.articledate {
    color: gray;
    font-family: monospace
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre10 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    display: block;
    font-style: italic
    }
.calibre12 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre13 {
    font-style: italic
    }
.calibre14 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.calibre16 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    max-width: 100%;
    overflow: hidden;
    text-align: left
    }
.calibre17 {
    display: none
    }
.calibre18 {
    display: block;
    margin-left: 40px
    }
.calibre19 {
    display: none;
    height: auto;
    width: auto
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre20 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em
    }
.calibre21 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.33em
    }
.calibre22 {
    border-collapse: separate;
    border-spacing: 2px;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre23 {
    display: block;
    vertical-align: middle
    }
.calibre24 {
    display: block;
    vertical-align: inherit
    }
.calibre25 {
    display: inline;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre26 {
    display: block;
    line-height: 140%
    }
.calibre27 {
    display: block;
    line-height: 160%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre28 {
    float: right;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: auto
    }
.calibre3 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.calibre4 {
    display: list-item
    }
.calibre5 {
    display: block
    }
.calibre6 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre9 {
    line-height: 1.2
    }
.calibrefeedlist {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibrefeedtitle {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibrenavbar {
    display: block;
    font-family: monospace;
    font-size: 0.7em;
    text-align: center
    }
.calibrenavbar1 {
    display: block;
    font-size: 0.7em;
    text-align: center
    }
.calibrerescale {
    display: block;
    font-size: 1em
    }
.calibrerescale1 {
    display: list-item;
    font-size: 1em;
    padding-bottom: 0.5em
    }
.cit-auth-list {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.contributor-list {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.feed {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2
    }
.hide {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.slug-jnl-abbrev {
    border-bottom: dotted 1px
    }
.subject-headings {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.subject-sub-headings {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.thumbnail {
    height: auto;
    vertical-align: top;
    width: auto
    }
